.git
.gitignore

.venv
__pycache__
*.py[cod]
*.egg-info

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
coverage
htmlcov

build
dist

.env
.env.*

.idea
.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db

.cache
tmp
*.tmp
*.log
.local-output

tests
docs
